
@model CyberCooperative_Model.LoanRepayment_Table

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_listOfEmployeeViews.cshtml";
}

<h2>Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee_Table.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Table.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loan_Table.RepaymentPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan_Table.RepaymentPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealLoanPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealLoanPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyContribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyContribution)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id, @class = "btn btn-primary btn-md" }) |
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary btn-md" })
</p>
