@model CyberCooperative_Model.LoanTrasactionTimeline

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_GeneralViews.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LoanTrasactionTimeline</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee_Table.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Table.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loan_Table.RepaymentPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan_Table.RepaymentPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalLoandue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalLoandue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalLoanPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalLoanPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BalanceTobePaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BalanceTobePaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id, @class = "btn btn-primary btn-md" }) |
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary btn-md" })
</p>
