@model CyberCooperative_Model.Employee_Table

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_listOfEmployeeViews.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employee_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextOfKin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextOfKin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextOfKinRelationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextOfKinRelationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextOfKinTelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextOfKinTelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlySavings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlySavings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSharesAppliedFor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSharesAppliedFor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValuesOfShares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValuesOfShares)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
