@model IEnumerable<CyberCooperative_Model.Employee_Table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_listOfEmployeeViews.cshtml";
}

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="myTable">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last name
            </th>
            <th>
                Reg Num
            </th>
            <th>
                Monthly Savings
            </th>
            <th>
                month
            </th>
            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="odd gradeX">
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.RegistrationNumber
                </td>
                <td>
                    @item.MonthlySavings
                </td>

                <td>
                    @item.Month
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default" href="#">Actions</a>
                        <a class="btn btn-info dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href='@Url.Action("Details","EmployeesAsnych",new { id=item.Id})'>Details</a></li>
                            <li><a href='@Url.Action("Delete","EmployeesAsnych",new { id=item.Id})'>Delete</a></li>
                            <li><a href='@Url.Action("Edit","EmployeesAsnych",new { id=item.Id})'>Edit</a></li>

                           

                        </ul>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>



@*@model IEnumerable<CyberCooperative_Model.Employee_Table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_listOfEmployeeViews.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occupation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextOfKin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextOfKinRelationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextOfKinTelephoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlySavings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfSharesAppliedFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValuesOfShares)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occupation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextOfKin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextOfKinRelationship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextOfKinTelephoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlySavings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSharesAppliedFor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValuesOfShares)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
