@model CyberCooperative_Model.LoanRepayment_Table

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_listOfEmployeeViews.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LoanRepayment_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee_Table.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Table.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loan_Table.RepaymentPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan_Table.RepaymentPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealLoanPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealLoanPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyContribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyContribution)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary btn-md" })
        </div>
    }
</div>
